name: Build and Analysis - Backend

on:
  push:
    branches:
      - main
  pull_request:
    types: [opened, synchronize, reopened]

env:
  APP_VERSION: "1.0.0"

jobs:
  sonarqube:
    name: SonarQube Analysis
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0 

      - name: SonarQube Scan
        uses: SonarSource/sonarqube-scan-action@v5 # Usando versión estable
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
          SONAR_HOST_URL: ${{ secrets.SONAR_HOST_URL }} # Asegúrate de tener esta URL

  build-and-push:
    name: Build Docker Image
    needs: sonarqube # Solo construye si SonarQube termina bien
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USER }}
          password: ${{ secrets.DOCKER_PASS }}

      - name: Build and Push Docker Image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          # ¡ESTA LÍNEA ES LA QUE ARREGLA EL EXEC FORMAT ERROR!
          platforms: linux/arm64
          tags: |
            ${{ secrets.DOCKER_USER }}/calcu-streamlit-app-backend:${{ env.APP_VERSION }}
            ${{ secrets.DOCKER_USER }}/calcu-streamlit-app-backend:latest